.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Bernard MT Condensed";
    -fx-background-color: #ffffff;
    -fx-focus-color: transparent;
}
.v-box {
     -fx-padding: 20;
     -fx-spacing: 30;
     -fx-font-size: 18pt;
     -fx-alignment: top-center;
     -fx-background-color: #000000;
 }
.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: top-left;
    -fx-padding: 30;
}

.combo-box-popup .list-view .list-cell: hover {
    -fx-background-color: #e30311;
}
.combo-box .list-view .list-cell: selected{
    -fx-background-color: #e30311;
}

.toggle-button{
      -fx-graphic: "search.png"
}

 .label{
    -fx-text-fill: #ffffff;
 }
 .label-event{
    -fx-text-fill: #e30311;
 }

#pane{
     -fx-background-image: url("triiniks6.png");
     -fx-background-color: #000000;
     -fx-background-size: 700, 500;
     -fx-background-repeat: no-repeat;
     -fx-background-position: right bottom;
     -fx-opacity: 0.9;
 }